<div class="mainbox" >
{% for block in section.blocks %}
  <div>
    <div class="blockimg">
      <img src="{{ block.settings.mainimges| img_url: 'master' }}">
    </div>
    <div class="abstract-container">
        <h5>Service &amp; Guidance</h5>
        <h3>The Ring Guide</h3>
        <p>A primer on the mined and organic-grown diamond industry, as well as the qualities gemologists always look for in a world-class diamond.</p>

        <a class="button read-more" href="/blogs/our-guide">See our guide</a>
   </div>
  </div>
{% endfor %}
</div>


{% stylesheet %}
  .mainbox {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
}








  
{% endstylesheet %}


{% schema %}
  {
    "name": "2 box section",
    "settings": [
      
    ],
     "blocks": [
  {
    "type": "section",
    "name": "2 box ",
    "settings": [
      {
      "type": "image_picker",
    "id": "mainimges",
    "label": "Image"
  }
  
    ]
  }
],
    "presets": [
  {
   "name": "2 box section"
  }
]
  }
{% endschema %}



{% javascript %}
{% endjavascript %}