<div class="mainbox">
{% for block in section.blocks %}
  <div class="guide">
    <div class="blockimg">
      <img src="{{ block.settings.mainimges| img_url: 'master' }}">
    </div>
    <div class="abstract-container">
        <h5>Service &amp; Guidance</h5>
        <h3>The Ring Guide</h3>
        <p>A primer on the mined and organic-grown diamond industry, as well as the qualities gemologists always look for in a world-class diamond.</p>

        <a class="button read-more" href="/blogs/our-guide">See our guide</a>
   </div>
  </div>
{% endfor %}
</div>


{% stylesheet %}
  .mainbox {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
    justify-content: space-around;
}
.guide {
    width: 48%;
    text-align: center;
}
.abstract-container {
    padding: 32px 24px 48px;
    text-align: center;
}
  .abstract-container h5 {
    color: #ef525b;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: Brown;
    margin: 0 0 24px;
    letter-spacing: .12em;
}
  .abstract-container h3{
    font-family: Feijoa-Medium,Georgia,Times New Roman,Times,serif;
    font-weight: 400;
    line-height: 1.3;
    color: #122947;
    margin: 0 0 24px;
    font-size: 34px;
  }
  .abstract-container p{
    margin: 0 0 48px;
    line-height: 1.75;
    color: #122947cc;
    font-size: 19px;
}






  
{% endstylesheet %}


{% schema %}
  {
    "name": "2 box section",
    "settings": [
      
    ],
     "blocks": [
  {
    "type": "section",
    "name": "2 box ",
    "settings": [
      {
      "type": "image_picker",
    "id": "mainimges",
    "label": "Image"
  }
  
    ]
  }
],
    "presets": [
  {
   "name": "2 box section"
  }
]
  }
{% endschema %}



{% javascript %}
{% endjavascript %}