<div class="centered">
        <div class="grid">
           {% for block in section.blocks %}
          <a class="box box-cut" href="#standard-cut">
            <h5>Cut</h5>
            <h2>Excellent</h2>
            <p class="body-large">IGI Grading</p>
          </a>
             {% endfor %}
        </div>
      </div>
{% schema %}
{
"name": "3 text box",
"settings": [

],
"blocks":[
{
"type" : "block",
"name" : "block",
"settings" : [
  
]
}

],
"presets" : [
{
  "name" : "3 text box",
  "category" : "3 text box"
  }
]
}
{% endschema %}

{% stylesheet %}
.centered {
    margin-top: 80px;
    margin-bottom: 56px;
    text-align: center;
      background-color: #f8f8f6;
}
  a.box {
    background-color: #fff;
    padding: 24px;
    text-align: center;
    border-radius: 2px;
    display: block;
    position: relative;
    transition: all .4s Cubic-bezier(.3,0,.3,1);
    box-shadow: 0 2px 4px #00000014;
}
 .centered box{
        flex-basis: calc(33.33333% - 24px);
    max-width: calc(33.33333% - 24px);
    margin-right: 0;
    margin-left: 24px;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}