<div class="centered">
        <div class="grid">
          <a class="box box-cut" href="#standard-cut">
            <h5>Cut</h5>
            <h2>Excellent</h2>
            <p class="body-large">IGI Grading</p>
          </a>
        </div>
      </div>
{% schema %}
  {
    "name": "3 text box",
    "settings": []
    
  }
{% endschema %}

{% stylesheet %}
.centered {
    margin-top: 80px;
    margin-bottom: 56px;
}
 .centered box{
        flex-basis: calc(33.33333% - 24px);
    max-width: calc(33.33333% - 24px);
    margin-right: 0;
    margin-left: 24px;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}