<div class="centered">
        <div class="grid">
           {% for block in section.blocks %}
          <a class="box box-cut" href="#standard-cut">
            <h5>Cut</h5>
            <h2>Excellent</h2>
            <p class="body-large">IGI Grading</p>
          </a>
             {% endfor %}
        </div>
      </div>
{% schema %}
{
"name": "3 text box",
"settings": [

],
"blocks":[
{
"type" : "block",
"name" : "block",
"settings" : [
  
]
}
],
"presets" : [
{
  "name" : "3 text box",
  "category" : "3 text box"
  }
]
}
{% endschema %}

{% stylesheet %}
  .centered h5 {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: Brown;
    margin: 0 0 24px;
    letter-spacing: .12em;
    color: #122947cc;
}
.centered h2 {
    font-size: 39px;
    font-family: Feijoa-Medium,Georgia,Times New Roman,Times,serif;
    font-weight: 400;
    line-height: 1.3;
    color: #122947;
    margin: 0 0 24px;
}

  
.centered {
    text-align: center;
      max-width: 1400px;
    margin: auto;
}
  a.box {
        margin-top: 24px;
    background-color: #fff;
    padding: 24px;
    text-align: center;
    border-radius: 2px;
    display: block;
    position: relative;
    transition: all .4s Cubic-bezier(.3,0,.3,1);
    box-shadow: 0 2px 4px #00000014;
}
 .centered box{
        flex-basis: calc(33.33333% - 24px);
    max-width: calc(33.33333% - 24px);
    margin-right: 0;
    margin-left: 24px;
  }
  div#shopify-section-template--17657613779234__5a02f6d5-9eed-4a7b-b021-4caee639875a {
    background-color: #f8f8f6;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}