<div class="centered">
        <div class="grid">
           {% for block in section.blocks %}
          <a class="box box-cut" href="#standard-cut">
                 {%- if block.settings.Cut != blank -%}
            <h5>{{ block.settings.Cut }}</h5>
 {%- endif -%}
                {%- if block.settings.Excellent != blank -%}
            <h2>{{ block.settings.Excellent }}</h2>
              {%- endif -%}
                 {%- if block.settings.Grading != blank -%}
            <p class="body-large">{{ block.settings.Grading }}</p>
             {%- endif -%}
            
          </a>
             {% endfor %}
        </div>
      </div>
{% schema %}
{
"name": "3 text box",
"settings": [

],
"blocks":[
{
"type" : "block",
"name" : "block",
"settings" : [
  {
      "type": "text",
      "id": "Cut",
      "label": "sub-Heading",
      "default": "Title"
    },
  {
      "type": "text",
      "id": "Excellent",
      "label": "Heading",
      "default": "Title"
    },
  {
      "type": "text",
      "id": "Grading",
      "label": "text",
      "default": "Title"
    }
]
}
],
"presets" : [
{
  "name" : "3 text box",
  "category" : "3 text box"
  }
]
}
{% endschema %}

{% stylesheet %}
  .centered h5 {
    
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: Brown;
    margin: 0 0 24px;
    letter-spacing: .12em;
    color: #122947cc;
}
.centered h2 {
    font-size: 39px;
    font-family: Feijoa-Medium,Georgia,Times New Roman,Times,serif;
    font-weight: 400;
    line-height: 1.3;
    color: #122947;
    margin: 0 0 24px;
}
p.body-large {
       margin-bottom: 24px !important;
    line-height: 1.75;
    color: #122947cc;
    font-size: 22px;
}
  
.centered {
    text-align: center;
      max-width: 1400px;
    margin: auto;
      padding-bottom: 10%;
}
  a.box {
        margin-top: 24px;
    background-color: #fff;
    padding: 24px;
    text-align: center;
    border-radius: 2px;
    display: block;
    position: relative;
    transition: all .4s Cubic-bezier(.3,0,.3,1);
    box-shadow: 0 2px 4px #00000014;
}
 .centered box{
        flex-basis: calc(33.33333% - 24px);
    max-width: calc(33.33333% - 24px);
    margin-right: 0;
    margin-left: 24px;
  }
  div#shopify-section-template--17657613779234__5a02f6d5-9eed-4a7b-b021-4caee639875a {
    background-color: #f8f8f6;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}