<div class="brand-logo">
  <diV>
   <h2>{{ section.settings.heading }}</h2>
  <div>
  <div>
  {% for block in section.blocks %}
    <div class="logoimg">
      <img src="{{ block.settings.image| img_url: 'master' }}">
    </div>
  {% endfor %}
  </div>
</div>
{% schema %}
  {
  "name": "brand logo",
  "settings": [
{
      "id" : "heading",
      "type" : "text",
      "label" : "Heading"
    }
  ],
  "blocks": [
  {
    "type": "block",
    "name": "text block",
    "settings": [
      {
      "id" : "image",
      "type" : "image_picker",
      "label" : "Image"
    }
    ]
  }
],
  "presets" : [
    {
      "name" : "brand logo"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .brand-logo {
    display: flex;
    justify-content: space-around;
        flex-wrap: wrap;
}
  .brand-logo .logoimg {
    width: 20%;
    
}
  .brand-logo {
    width: 100%;
}
    @media(max-width:1049px){
      .brand-logo .logoimg {
    width: 33%;
}       
    }
     @media(max-width:540px){
      .brand-logo .logoimg {
  width: 50%;     
}      
    }
  @media(max-width:380px){
      .brand-logo .logoimg {
  width: 100%;     
}
    }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
