<div class="brand-logo">
  {% for block in section.blocks %}
    <div class="logoimg">
      <img src="{{ block.settings.image| img_url: 'master' }}">
    </div>
  {% endfor %}
</div>
{% schema %}
  {
  "name": "brand logo",
  "settings": [

  ],
  "blocks": [
  {
    "type": "block",
    "name": "text block",
    "settings": [
      {
      "id" : "image",
      "type" : "image_picker",
      "label" : "Image"
    }
    ]
  }
],
  "presets" : [
    {
      "name" : "brand logo"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .brand-logo {
    display: flex;
    justify-content: space-around;
}
  .brand-logo .logoimg {
    width: 25%;
}
  .brand-logo {
    width: 100%;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
