<div>
  <div>
    <img src="{{ section.settings.mainimgs }}">
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
      "type": "image_picker",
    "id": "mainimgs",
    "label": "Image"
  }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}