<div>
  <div>
    <img src="{{ section.settings.mainimgs| img_url: 'master' }}">
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
      "type": "image_picker",
    "id": "mainimgs",
    "label": "Image"
  }
    ],
        "presets": [
  {
   "name": "collection box"
  }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}