{% comment %} <div>
  <div>
    <img src="{{ section.settings.mainimgs| img_url: 'master' }}">
  </div>
</div> {% endcomment %}

<div class="featured-products waypoint-active">
<div class="grid-container">
      <div class="grid maingrid">
        {% for block in section.blocks %}
        <div class="col classic">
          <a class="with-link-primary" href="{{ block.settings.atext }}">
            <div class="background-container">
              <div class="image-container image-ready" style="background-image: url({{ block.settings.mainimgs| img_url: 'master' }});"></div>
            </div>

            <span class="link-primary animate-out">{{ block.settings.linktext }}</span>
          </a>
        </div>   
        {% endfor %}
      </div>
    </div>
  </div>
{% schema %}
  {
    "name": "collection box",
    "settings": [
     
    ],
    "blocks": [
  {
    "type": "section",
    "name": "collection box",
    "settings": [
    {
      "type": "image_picker",
    "id": "mainimgs",
    "label": "Image"
  },
       {
      "id" : "atext",
      "type" : "url",
      "label" : "button url"
    },
      {
      "id" : "linktext",
      "type" : "text",
      "label" : "text"
    }
    ]
  }
],
        "presets": [
  {
   "name": "collection box"
  }
]
  }
{% endschema %}

{% stylesheet %}
  .featured-products .col .background-container {
    overflow: hidden;
    margin-bottom: 24px;
}
  .image-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
 .col .image-container:before {
    padding-top: 116%;
}
.col .image-container:before {
    content: "";
    display: block;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}