<div class="mainimg">
  <div>
    <img src="{{ section.settings.mainimg | img_url: 'master' }}">
  </div>
</div>

{% schema %}
  {
    "name": "full images",
    "settings": [
      {
      "id" : "mainimg",
      "type" : "image_picker",
      "label" : "Image"
    },
       {
      "id" : "bgcolor",
      "type" : "color",
      "label" : "Image"
    }
    ],
    "presets" : [
    {
      "name" : "full images"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
  .mainimg {
    background-color: {{section.settings.bgcolor}};
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}