<div class="hero1 waypoint-active" data-waypoint="once">
    <div class="image-container raise image-ready" style="background-image: url({{  }});"></div>

    <div class="grid">
      <div class="left-column">
        <h5 class="fade">Our Rings</h5>
        <h2 class="fade">The Classic</h2>
        <p class="body-large fade">Elegant. Timeless. A time-honored silhouette.</p>

        <a class="button button-hero" href="/collections/engagement-rings/products/classic-signature-1ct-white-gold"><span>Shop The Classic</span></a>
      </div>
      <div class="right-column"></div>
    </div>

    <div class="design">
      <div class="centered">
        <h5 class="raise">Design</h5>
        <h3 class="raise">
          They say a solitaire diamond represents a singular love shared between two people. When designing our flagship ring, we were inspired by legendary love stories, past and present.
        </h3>
      </div>
    </div>
  </div>

{% stylesheet %}
.hero1 {
    padding: 0 24px;
    position: relative;
    height: 100vh;
    min-height: 716px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: -24px;
    margin-right: -24px;
    padding-right: 24px;
}
.hero .grid {
    position: relative;
    z-index: 2;
    height: 100%;
}
.module-plp .hero .grid, .module-plp .hero .design {
    height: 50%;
}

  
  
{% endstylesheet %}

{% schema %}
  {
    "name": "Hero section",
    "settings": [],
     "presets" : [
    {
      "name" : "Hero section"
    }
  ]
  }
{% endschema %}



{% javascript %}
{% endjavascript %}