<div class="step-1">
    <div class="image-box">
      <div style="--image: url({{ section.settings.imageurl }})"></div>
    </div>
    <h5>Step 1</h5>
    <h4>Choose your style.</h4>
    <p>Get inspired by one of our classic settings, or design your own. Meet with our diamond concierge in person or on a video call to see our styles up close. We can even help design a custom ring – the process is complimentary.</p>
    <a class="book-concierge with-link-primary" href="#">
      <div class="background-container">
        <div class="image-container image-ready"></div>
      </div>
      <span class="link-primary animate-out">Book an appointment</span>
    </a>
  </div>


{% schema %}
  {
    "name": "new blog",
    "settings": [
      {
      "type": "image_picker",
      "id": "imageurl",
      "label": "Image",
      "info": "1200 x 1200px .png recommended"
    }
    ],
    "presets": [
    {
     "name": "new blog"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}