<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="customerslider gentlebaby customercontainer">
  <div class="customreviewside">
    <div class="ratinconain1 multipleitems1">
      {% for block in section.blocks %}
        <div class="masterimg">
           <img src="{{ block.settings.mainimg |img_url: 'master'}}">
        </div>
      {% endfor %}
    </div>
  </div>
</div>

    {% schema %}
  {
  "name": "customreview",

  "settings": [

  ],
  "blocks":[
  {
  "type" : "block",
  "name" : "block",
  "settings" : [
  {
    "type": "image_picker",
    "id": "mainimg",
    "label": "Image",
    "info": "1200 x 1200px .png recommended"
  }
    
  ]
  }

  ],
  "presets" : [
  {
    "name" : "customer slider",
    "category" : "customreview"

    }
  ]
  }
  {% endschema %}

 <link rel="canonical" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script> 
<script>
  $('.multipleitems1').slick({
  infinite: true,
  slidesToShow: 2,
  slidesToScroll: 1,
     // autoplay: true,
    adaptiveHeight: true,
  dots: true
    
    
});
</script>
 