<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="customerslider gentlebaby customercontainer">
  <div class="customreviewside">
    <div class="ratinconain1 multipleitems1">
      {% for block in section.blocks %}
       
      <div class="customerdetailmain1">
         <div class="mainimgs1">
            <img src="{{block.settings.imgdiv | img_url:'large' }}">
        </div>
       </div>
      {% endfor %}
    </div>
  </div>
</div>

    {% schema %}
  {
  "name": "customreview",

  "settings": [

  ],
  "blocks":[
  {
  "type" : "block",
  "name" : "block",
  "settings" : [
    {
            "type": "range",
            "id": "rating",
            "min": 0,
            "max": 5,
            "step": 1,
            "label": "Rating",
            "info": "Set less than '1' to disable Rating.",
            "default": 5
          },
    {
          "id" : "rating_no",
          "type" : "text",
          "label" : "rating no"
        },
    {
          "id" : "imgdiv",
          "type" : "image_picker",
        "label": " Image"
        },
    {
          "id" : "textimg",
          "type" : "text",
          "label" : "heading"
        },
    {
          "id" : "subtext",
          "type" : "text",
          "label" : "sub text"
    }
        ,
      {
          "id" : "ptext",
          "type" : "text",
          "label" : "text"
        }
    
  ]
  }

  ],
  "presets" : [
  {
    "name" : "customer slider",
    "category" : "customreview"

    }
  ]
  }
  {% endschema %}

 <link rel="canonical" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script> 
<script>
  $('.multipleitems1').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,
     // autoplay: true,
    adaptiveHeight: true,
  dots: true
    
    
});
</script>
 