<div class="module-engagement-rings module-bands womens">
 
  <div class="collection-header waypoint-active" data-waypoint="sticky">
    <div class="header-placeholder"></div>
    <div class="header-sticky">
      <a class="link-nav" href="#collection-round">Round</a>
      <a class="link-nav" href="#collection-knife-edge">Knife Edge</a>
      <a class="link-nav" href="#collection-half-pave">Half Pavé</a>
      <a class="link-nav" href="#collection-eternity-pave">Eternity Pavé</a>
      <a class="link-nav" href="#collection-half-eternity">Half Eternity</a>
      <a class="link-nav" href="#collection-eternity">Eternity</a>
      <a class="link-nav" href="#collection-tapered">Tapered</a>
      <a class="link-nav" href="#collection-tapered-pave">Tapered Pavé</a>
    </div>
  </div>

  <div class="collection">
    <div class="product-groups">
      <div id="collection-round" class="product-group round waypoint-active" data-waypoint="scrollLink">
        <h4>Round</h4>
        <h5>Starting at $419</h5>

        <div class="grid">
          <a class="product yellow-gold with-link-primary" href="/collections/bands/products/womens-round-1-8mm-yellow-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenRounded_YellowGold_1.5mm_OnWhite_A.png">
            <span class="link-primary">Yellow Gold</span>
          </a>
          <a class="product white-gold with-link-primary" href="/collections/bands/products/womens-round-1-8mm-white-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenRounded_WhiteGold_1.5mm_OnWhite_A.png">
            <span class="link-primary">White Gold</span>
          </a>
          <a class="product rose-gold with-link-primary" href="/collections/bands/products/womens-round-1-8mm-rose-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenRounded_RoseGold_1.5mm_OnWhite_A.png">
            <span class="link-primary">Rose Gold</span>
          </a>
          <a class="product white-gold with-link-primary" href="/collections/bands/products/womens-round-1-8mm-platinum">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenRounded_WhiteGold_1.5mm_OnWhite_A.png">
            <span class="link-primary">Platinum</span>
          </a>
        </div>
      </div>

      <div id="collection-knife-edge" class="product-group knife-edge" data-waypoint="scrollLink">
        <h4>Knife Edge</h4>
        <h5>Starting at $479</h5>

        <div class="grid">
          <a class="product yellow-gold with-link-primary" href="/collections/bands/products/womens-knife-edge-2mm-yellow-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenKnifeEdge_YellowGold_OnWhite_A.png">
            <span class="link-primary">Yellow Gold</span>
          </a>
          <a class="product white-gold with-link-primary" href="/collections/bands/products/womens-knife-edge-2mm-white-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenKnifeEdge_WhiteGold_OnWhite_A.png">
            <span class="link-primary">White Gold</span>
          </a>
          <a class="product rose-gold with-link-primary" href="/collections/bands/products/womens-knife-edge-2mm-rose-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenKnifeEdge_RoseGold_OnWhite_A.png">
            <span class="link-primary">Rose Gold</span>
          </a>
          <a class="product white-gold with-link-primary" href="/collections/bands/products/womens-knife-edge-2mm-platinum">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenKnifeEdge_WhiteGold_OnWhite_A.png">
            <span class="link-primary">Platinum</span>
          </a>
        </div>
      </div>

      <div id="collection-half-pave" class="product-group half-pave" data-waypoint="scrollLink">
        <h4>Half Pavé</h4>
        <h5>Starting at $999</h5>

        <div class="grid">
          <a class="product yellow-gold with-link-primary" href="/collections/bands/products/womens-half-pave-1-8mm-yellow-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenMushroomPave_YellowGold_1.5mm_OnWhite_A.png">
            <span class="link-primary">Yellow Gold</span>
          </a>
          <a class="product white-gold with-link-primary" href="/collections/bands/products/womens-half-pave-1-8mm-white-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenMushroomPave_WhiteGold_1.5mm_OnWhite_A.png">
            <span class="link-primary">White Gold</span>
          </a>
          <a class="product rose-gold with-link-primary" href="/collections/bands/products/womens-half-pave-1-8mm-rose-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenMushroomPave_RoseGold_1.5mm_OnWhite_A.png">
            <span class="link-primary">Rose Gold</span>
          </a>
          <a class="product yellow-gold with-link-primary" href="/collections/bands/products/womens-half-pave-1-8mm-platinum">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenMushroomPave_WhiteGold_1.5mm_OnWhite_A.png">
            <span class="link-primary">Platinum</span>
          </a>
        </div>
      </div>

      <div id="collection-eternity-pave" class="product-group eternity-pave" data-waypoint="scrollLink">
        <h4>Eternity Pavé</h4>
        <h5>Starting at $1,199</h5>

        <div class="grid">
          <a class="product yellow-gold with-link-primary" href="/collections/bands/products/womens-eternity-pave-1-8mm-yellow-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenMushroomPave_YellowGold_1.5mm_HALF_OnWhite_A.png">
            <span class="link-primary">Yellow Gold</span>
          </a>
          <a class="product white-gold with-link-primary" href="/collections/bands/products/womens-eternity-pave-1-8mm-white-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenMushroomPave_WhiteGold_1.5mm_HALF_OnWhite_A.png">
            <span class="link-primary">White Gold</span>
          </a>
          <a class="product rose-gold with-link-primary" href="/collections/bands/products/womens-eternity-pave-1-8mm-rose-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenMushroomPave_RoseGold_1.5mm_HALF_OnWhite_A.png">
            <span class="link-primary">Rose Gold</span>
          </a>
          <a class="product yellow-gold with-link-primary" href="/collections/bands/products/womens-eternity-pave-1-8mm-platinum">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenMushroomPave_WhiteGold_1.5mm_HALF_OnWhite_A.png">
            <span class="link-primary">Platinum</span>
          </a>
        </div>
      </div>

      <div id="collection-half-eternity" class="product-group half-eternity" data-waypoint="scrollLink">
        <h4>Half Eternity</h4>
        <h5>Starting at $1,279</h5>

        <div class="grid">
          <a class="product yellow-gold with-link-primary" href="/collections/bands/products/womens-half-eternity-2-2mm-yellow-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenSimpleProng2mm_YellowGold_HalfEternity_OnWhite_A.png">
            <span class="link-primary">Yellow Gold</span>
          </a>
          <a class="product white-gold with-link-primary" href="/collections/bands/products/womens-half-eternity-2-2mm-white-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenSimpleProng2mm_WhiteGold_HalfEternity_OnWhite_A.png">
            <span class="link-primary">White Gold</span>
          </a>
          <a class="product rose-gold with-link-primary" href="/collections/bands/products/womens-half-eternity-2-2mm-rose-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenSimpleProng2mm_RoseGold_HalfEternity_OnWhite_A.png">
            <span class="link-primary">Rose Gold</span>
          </a>
          <a class="product white-gold with-link-primary" href="/collections/bands/products/womens-half-eternity-2-2mm-platinum">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenSimpleProng2mm_WhiteGold_HalfEternity_OnWhite_A.png">
            <span class="link-primary">Platinum</span>
          </a>
        </div>
      </div>

      <div id="collection-eternity" class="product-group eternity" data-waypoint="scrollLink">
        <h4>Eternity</h4>
        <h5>Starting at $1,799</h5>

        <div class="grid">
          <a class="product yellow-gold with-link-primary" href="/collections/bands/products/womens-eternity-2-2mm-yellow-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenSimpleProng3mm_YellowGold_FullEternity_OnWhite_A.png">
            <span class="link-primary">Yellow Gold</span>
          </a>
          <a class="product white-gold with-link-primary" href="/collections/bands/products/womens-eternity-2-2mm-white-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenSimpleProng3mm_WhiteGold_FullEternity_OnWhite_A.png">
            <span class="link-primary">White Gold</span>
          </a>
          <a class="product rose-gold with-link-primary" href="/collections/bands/products/womens-eternity-2-2mm-rose-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenSimpleProng3mm_RoseGold_FullEternity_OnWhite_A.png">
            <span class="link-primary">Rose Gold</span>
          </a>
          <a class="product white-gold with-link-primary" href="/collections/bands/products/womens-eternity-2-2mm-platinum">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenSimpleProng3mm_WhiteGold_FullEternity_OnWhite_A.png">
            <span class="link-primary">Platinum</span>
          </a>
        </div>
      </div>

      <div id="collection-tapered" class="product-group tapered" data-waypoint="scrollLink">
        <h4>Tapered</h4>
        <h5>Starting at $699</h5>

        <div class="grid">
          <a class="product yellow-gold with-link-primary" href="/collections/bands/products/womens-tapered-2-5mm-yellow-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenTaperedPinchedPLAIN_YellowGold_OnWhite_A.png">
            <span class="link-primary">Yellow Gold</span>
          </a>
          <a class="product white-gold with-link-primary" href="/collections/bands/products/womens-tapered-2-5mm-white-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenTaperedPinchedPLAIN_WhiteGold_OnWhite_A.png">
            <span class="link-primary">White Gold</span>
          </a>
          <a class="product rose-gold with-link-primary" href="/collections/bands/products/womens-tapered-2-5mm-rose-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenTaperedPinchedPLAIN_RoseGold_OnWhite_A.png">
            <span class="link-primary">Rose Gold</span>
          </a>
          <a class="product white-gold with-link-primary" href="/collections/bands/products/womens-tapered-2-5mm-platinum">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenTaperedPinchedPLAIN_WhiteGold_OnWhite_A.png">
            <span class="link-primary">Platinum</span>
          </a>
        </div>
      </div>

      <div id="collection-tapered-pave" class="product-group tapered-pave" data-waypoint="scrollLink">
        <h4>Tapered Pavé</h4>
        <h5>Starting at $1,099</h5>

        <div class="grid">
          <a class="product yellow-gold with-link-primary" href="/collections/bands/products/womens-tapered-pave-2-5mm-yellow-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenTaperedPinchedPAVE_YellowGold_OnWhite_A.png">
            <span class="link-primary">Yellow Gold</span>
          </a>
          <a class="product white-gold with-link-primary" href="/collections/bands/products/womens-tapered-pave-2-5mm-white-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenTaperedPinchedPAVE_WhiteGold_OnWhite_A.png">
            <span class="link-primary">White Gold</span>
          </a>
          <a class="product rose-gold with-link-primary" href="/collections/bands/products/womens-tapered-pave-2-5mm-rose-gold">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenTaperedPinchedPAVE_RoseGold_OnWhite_A.png">
            <span class="link-primary">Rose Gold</span>
          </a>
          <a class="product white-gold with-link-primary" href="/collections/bands/products/womens-tapered-pave-2-5mm-platinum">
            <img src="https://dr6b2l874r4si.cloudfront.net/WomenTaperedPinchedPAVE_WhiteGold_OnWhite_A.png">
            <span class="link-primary">Platinum</span>
          </a>
        </div>
      </div>
    </div>      
  </div>

  <section class="block full-bleed">
  <div class="learn-articles">
    <div class="centered">
      <div class="articles grid">

        <div class="learn-article-block ring-guide">
  <div class="background-container">
    <div class="image-container image-ready"></div>
  </div>
  <div class="abstract-container">
    <h5>Service &amp; Guidance</h5>
    <h3>The Ring Guide</h3>
    <p>A primer on the mined and organic-grown diamond industry, as well as the qualities gemologists always look for in a world-class diamond.</p>

    <a class="button read-more" href="/blogs/our-guide">See our guide</a>
  </div>
</div>

        <div class="learn-article-block our-standard">
  <div class="background-container">
    <div class="image-container image-ready"></div>
  </div>
  <div class="abstract-container">
    <h5>Couple Diamonds</h5>
    <h3>Remarkably grown.<br>Just for you.</h3>
    <p>Couple diamonds meet an exceptional G + VS2 standard, and are further hand-inspected to ensure they possess a unique, intangible quality.</p>

    <a class="button read-more" href="/pages/our-standard">Learn more</a>
  </div>
</div>
      </div>
    </div>
  </div>  
</section>


</div>
{% schema %}
  {
    "name": "teb",
    "settings": [],
     "presets": [
  {
   "name": "TEB"
  }
]
  }
{% endschema %}

{% stylesheet %}
  .module-engagement-rings .collection-header {
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 200;
}
  .module-engagement-rings .collection-header .header-placeholder {
    width: 100%;
    height: 100%;
}
  .module-engagement-rings .collection-header .header-sticky {
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 2px 16px #00000005;
    text-align: center;
    font-size: 0;
}
  .module-engagement-rings .collection-header .header-sticky a {
    height: 80px;
    border-bottom: 4px solid transparent;
    line-height: 76px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: .12em;
    font-size: 12px;
    color: #12294752;
    display: inline-block;
    padding: 0 24px;
    transition: all .2s Cubic-bezier(1,0,.43,1);
}
  .module-bands .collection-header .header-sticky {
    overflow: hidden;
}
  a.link-nav:hover {
    color: #122947;
}
  .collection {
    text-align: center;
}
  
{% endstylesheet %}

{% javascript %}
{% endjavascript %}