<div class="the-first-in-bloom-ring full-bleed waypoint-active" data-waypoint="once">
    <div class="centered">
      <h5 class="raise">The First Couple Ring</h5>
      <h3 class="raise">What did I just walk into?</h3>
      <p class="body-large raise">
        When it was time to buy an engagement ring, I didn’t know where to start.
        I visited every type of jeweler out there—the traditional powerhouses, the independent shops.
        Even some guy who was a friend of a friend and would give me ‘the backroom deal’.
      </p>
      <p class="body-large raise">
        The whole process felt outdated and murky. There had to be a better way.
      </p>
      <p class="body-large raise">
        So I went to the source: the diamond distributors. During that diligence phase I stumbled upon
        a lab that was making big strides in lab-grown diamonds. After seeing how their stones
        were identical to mined diamonds, but with better quality and bigger carat size, I knew that I was
        on to something. I had a gemologist select the best diamond from the lot and a renowned jeweler handset
        Isabella’s ring. Shortly after she said yes, I got the gemologist and jeweler onboard and we started
        making Couple rings full-time.
      </p>
      <p class="body-large raise">
        Here’s to a better engagement ring experience. For all.
      </p>
      <p class="body-large raise">
        - Jeff
      </p>
      <img class="signature" src="https://dr6b2l874r4si.cloudfront.net/jeff-brenner-signature.png">
    </div>
  </div>
{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets" : [
    {
      "name" : "text overlay"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}